@import "tailwindcss";

.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #22c55e; /* màu xanh nếu tab class */
  border-right: 4px solid #9333ea; /* màu tím nếu tab off-topic */
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}